@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Orbitron:wght@400..900&family=Share+Tech+Mono&display=swap');




.card-container {
  width: 960px;
  max-width: 960px;
    border-radius: 1rem;
   
    display: flex;
   flex-direction: row;
   box-shadow: 2px 2px 6px 2px #2b2a2b24;
    background-color: rgba(252, 252, 252, 0.708);
    height: fit-content;
    border: blue 2px dashed;
    padding: 2rem;
    margin-bottom: 2rem;
}

.card-title {
    font-size: 2.1rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
      margin: 0;
  }
  .card-inside {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 40%;
  }

  .card-info {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    align-items: flex-start;
    color:rgb(20, 9, 47);
    text-align: left;
}

.card-desc {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.224);
    border-left:#999 solid 1px;
    padding:1.2rem; 
    border-radius: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left:auto;
    justify-content: space-between;
}

.card-img {
    width: auto;
    max-width: 350px;
    max-height: 300px;
    border-radius: 1rem;
    margin-top: 20px;
}

.card-btn {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 4px;
    width: 100%;
    box-shadow: 4px 4px 2px 0px #00000027;
    max-width: 350px;
    background-color:#10129c;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    color: white;
   
    justify-content: center;

}


.card-btn:hover {
    box-shadow: 0px 0px 4px 2px #92779297;;
    transform: translateY(3px);
    background-color: #5e0145;
    transition: ease-in-out 400ms;
  }