@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Orbitron:wght@400..900&family=Share+Tech+Mono&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #00000061;
  backdrop-filter: blur(4px);
  padding: 1rem;
  z-index: 1000;
  box-shadow: 1px 1px 11px 3px #3f3f3f5d;
}

.navbar ul {
  gap: 6rem;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
}

.navbar a,
.navbar button {
  font-size: calc(1vw + 1vh);

  color: rgb(251, 251, 251);
  font-family: "Share Tech Mono", monospace;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  letter-spacing: 1px;
}

.button-top {
  display: flex;
  background-image: url(./assets/arrowblue.png);
  background-repeat: no-repeat;
  align-items: center;
  background-size: 9px;
  background-position: left 7px center;
  background-repeat: no-repeat;
  background-color: rgba(23, 19, 19, 0.74) !important;
  border: rgb(255, 255, 255) dashed 1px !important;
  padding: 0.5rem;
  padding-left: 1.9em;
  color: #e3e4ff !important;
  border-radius: 0.5rem;
  font-size: 0.8rem !important;
}

.card-btn {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 4px;
  width: 100%;
  box-shadow: 4px 4px 2px 0px #00000027;
  max-width: 350px;
  background-color:#10129c;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  color: white;
 
  justify-content: center;
}

.navbar a:hover,
.navbar button:hover {
  color: rgb(238, 238, 238);
}

.section {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.section1-bg {
  background-color: #e7eaf9d7;
}

.section1 {
  width: auto;
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-image: url(./assets/bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* background: #ADA996;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  */
}

/* .section-header {
border-bottom: #3147b3 1px solid;
} */



.legacy-card {
  background-color: rgba(0, 0, 0, 0.793) !important;
  width: 800px;
  padding: 2rem;
  align-items: center;
  border-radius: 1rem;
  border: green 1px solid;
  
}

.section2-parent {
  border-top: 0.5px solid blue;
  border-bottom: 0.5px solid blue;

  padding-top: 3rem;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #050234,
    #100046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #273a91e2 60%,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: auto;
  display: flex;
  justify-content: center;
}
.section2 {

  display: flex;
  flex-direction: column;
}

.section3-parent {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    169deg,
    #695cdd3f,
    #2b49ab45,
    #f1b2dc23,
    #2a64a64c
  );
  background-size: 600% 800%;
  animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 33%;
  }
  50% {
    background-position: 100% 54%;
  }
  100% {
    background-position: 0% 47%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 47%;
  }
  50% {
    background-position: 100% 54%;
  }
  100% {
    background-position: 0% 47%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 47%;
  }
  50% {
    background-position: 100% 54%;
  }
  100% {
    background-position: 0% 47%;
  }
}


/* Container styling */
.scroll-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

/* Scrolling content styling */
.scroll-content {
  display: inline-flex;
  animation: scroll 20s linear infinite;
}

.scroll-content img {
  width: 200px; /* Adjust image width as needed */
  margin-right: 10px; /* Space between images */
}

/* Animation for infinite scrolling */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.section3 {
  max-width: 960px;
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-size: 2.6rem !important;
  color: rgb(16, 18, 156);
  padding-bottom: 1rem;
}

.type-anim {
  font-family: "Orbitron", sans-serif;
  font-weight: 200;
  color: rgb(16, 18, 156);
  padding-bottom: 1rem;
}

h3 {
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(16, 18, 156);
  padding-bottom: 1rem;
}
p {
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  font-size: 1.3rem;
}

.profile-pic {
  height: 250px;
  border-radius: 50%;
  border: blue 1px solid;
}

.icon-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon-section > div {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  gap: 1rem;
}
.icon-section > div > p {
  font-size: 1rem;
  font-family: "Share Tech Mono", monospace;
}

a {
  font-family: "Share Tech Mono", monospace;
  font-size: 1.1rem;
  font-weight: 400;
  transition: ease-in-out 0.3s;
}

a:hover {
  text-shadow: 0 0 5px rgb(236, 255, 255), 0 0 10px rgb(233, 255, 255),
    0 0 20px rgb(206, 200, 249), 0 0 40px rgb(206, 255, 255),
    0 0 80px rgb(220, 253, 253), 0 0 100px rgb(164, 170, 251);
}

li {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}

.icons {
  max-height: 50px;
}

.hat {
  display: inline-block;
  width: 300px;
  animation: tipHat 3s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes tipHat {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.badges {
  
  width: 150px;
  height: 150px;
}

.drawings {
  height: 250px;
}

.badges-section {
  max-width: 960px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}



.badges-section {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 20px; 
  flex-wrap: wrap; 
}

@media (max-width: 1400px) {
  .badges-section {
    flex-wrap: wrap; /* Enable wrapping when the screen is 960px or less */
  }
}

.child-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(2px);
  gap: 2rem;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.931);
  border: 3px blue double;
  border-radius: 1rem;
  max-width: 960px;
}

.inner-child-section {
  display: flex;
  flex-direction: row;
}





